[Unit]
Description=Apt Price Scraper
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=go run .

[Install]
WantedBy=multi-user.target